[Desktop Entry]
Comment=PearLight theme for Plasma
X-KDE-PluginInfo-Author=adhe
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=adhemarks[at]gmail[dot]com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-Name=PearLight
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0
