
apps/.config/fish/fish_variables

apps/.config/latte/.multiple-layouts_hidden.layout.latte

apps/.config/latte/Default.layout.latte

apps/.config/latte/Extended.layout.latte

apps/.config/latte/Plasma.layout.latte

apps/.config/latte/Unity.layout.latte

theme/.local/share/color-schemes/[!Abyss]*.colors
