[Desktop Entry]
Categories=Network;
Comment[en_US]=unofficial whatsapp client for linux
Comment=unofficial whatsapp client for linux
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/whatsdesk_whatsdesk.desktop /var/lib/snapd/snap/bin/whatsdesk
GenericName[en_US]=
GenericName=
Icon=/var/lib/snapd/snap/whatsdesk/17/meta/gui/icon.png
MimeType=
Name[en_US]=whatsdesk
Name=whatsdesk
Path=
StartupNotify=true
StartupWMClass=whatsdesk
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
X-SnapInstanceName=whatsdesk
