[Desktop Entry]
Categories=Network;Chat;InstantMessaging;Application;
Comment[en_US]=WhatsApp desktop built with nativefier (electron)
Comment=WhatsApp desktop built with nativefier (electron)
Encoding=UTF-8
Exec=whatsapp-nativefier
GenericName[en_US]=
GenericName=
Icon=whatsapp-nativefier
MimeType=
Name[en_US]=WhatsApp
Name=WhatsApp
Path=
StartupNotify=true
StartupWMClass=whatsapp-nativefier-d40211
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
