[Desktop Entry]
Comment=Window decorations inspired by PearOS button indicators
Name=PearLightOpaque
X-KDE-PluginInfo-Author=adhe
X-KDE-PluginInfo-Category=Aurorae theme
X-KDE-PluginInfo-Email=adhemarks[at]gmail[dot]com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=PearLightBlur
X-KDE-PluginInfo-Version=0.1
