.config/fish.syncpoint/fish_variables

.config/latte.syncpoint/Default.layout.latte

.config/latte.syncpoint/Extended.layout.latte

.config/latte.syncpoint/Plasma.layout.latte

.config/latte.syncpoint/Unity.layout.latte

.config/latte.syncpoint/.multiple-layouts_hidden.layout.latte

.config/touchegg.syncpoint/.touchegg.lock
