.config/fish/fish_variables 

.config/latte/.multiple-layouts_hidden.layout.latte

.config/latte/Default.layout.latte

.config/latte/Extended.layout.latte

.config/latte/Plasma.layout.latte

.config/latte/Unity.layout.latte
