[Desktop Entry]
Categories=Network;InstantMessaging;
Comment[en_US]=All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone.
Comment=All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone.
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/discord_discord.desktop /var/lib/snapd/snap/bin/discord %U
GenericName[en_US]=Internet Messenger
GenericName=Internet Messenger
Icon=/var/lib/snapd/snap/discord/101/usr/share/discord/discord.png
MimeType=
Name[en_US]=Discord
Name=Discord
Path=
StartupNotify=true
StartupWMClass=discord
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
X-SnapInstanceName=discord
