[Desktop Entry]
Categories=GNOME;GTK;Network;Email;
Comment[en_US]=The best email app for people and teams at work
Comment=The best email app for people and teams at work
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/mailspring_mailspring.desktop /var/lib/snapd/snap/bin/mailspring %U
GenericName[en_US]=Mailspring
GenericName=Mailspring
Icon=/var/lib/snapd/snap/mailspring/407/usr/share/pixmaps/mailspring.png
Keywords=email;internet;
MimeType=
Name[en_US]=Mailspring
Name=Mailspring
Path=
StartupNotify=true
StartupWMClass=Mailspring
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
X-SnapInstanceName=mailspring
